{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
    <h3 class="text-center">Contáctanos</h3>
    <div>
      <form action="/contacto" method="post">
        {% csrf_token %} {{form.non_field_errors}}
        <!-- {{form}} -->
        <label for="{{form.customer_name.id_for_label}}"
          >{{form.customer_name.label_tag}}</label
        >
        <div>{{form.customer_name}}</div>
        <div>{{form.customer_name.errors}}</div>

        <label for="{{form.customer_email.id_for_label}}"
          >{{form.customer_email.label_tag}}</label
        >
        <div>{{form.customer_email}}</div>
        <div>{{form.customer_email.errors}}</div>

        <label for="{{form.message.id_for_label}}"
          >{{form.message.label_tag}}</label
        >
        <div>{{form.message}}</div>
        <div>{{form.message.errors}}</div>

        <div class="text-center">
          <input type="submit" value="Enviar" class="btn btn-primary" />
        </div>
        <!-- <label for="{{form.customer_name.id_for_label}}">{{form.customer_name.label_tag}}</label> -->
      </form>
    </div>
  </div>
</div>
{% endblock %}
