{% extends 'base.html' %}
<!-- es tipo INDEX PREMIUM -->
<!-- Esta VISTA es cual muestra los productos exclusivos para usuarios registrados -->
{% block content %}
<div class="container">
  <div class="row d-none d-md-block">
    <!-- d-none d-md-block: Esta clase asegura que el contenido se oculte en pantallas menores a 768px (media query md) -->
    <div class="col">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Bienvenido {{ user.get_username }}</h2>
        <p>
          Tenemos una lista de productos exclusivos para ti. ¿Quieres conocer
          más?
        </p>
        <a href="{% url 'contacto' %}" class="btn btn-outline-light">
          Contáctanos
        </a>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4" id="productos">
    {% for flan in private_flans %}
    <div class="col-6 col-md-3">
      <div class="card mb-4" styles="" id="producto">
        <a href="{% url 'detail_flan' flan_uuid=flan.flan_uuid %}">
          <img src="{{ flan.image_url }}" class="card-img-top" id="card_img_top" alt="..." height="180px">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            {{ flan.name }}
          </h5>
          <p class="card-text">
            {{ flan.description|slice:":250" }}{% if flan.description|length > 350 %}...{% endif %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

