body {
    background-color: rgb(213, 192, 253);
}

.navbar {
    background-color: rgb(137, 116, 231) !important;
}

header img {
    width: 450px;
    height: 140px;
}

#producto img {
    height: 280px;
}

#producto {
    margin: 12px 12px;
    padding: 4px 18px;
    background-color: rgb(137, 116, 231);
    border-radius: 4px;
    width: 240px;
}


/* style FORM CONTACTO */

form {}