body {
    background-color: white;
}

#encabezado img {
    width: 400px;
    height: 180px;
    padding-left: 10px;
    margin-left: 400px;
}

#encabezado {
    background-color: red;
}

footer {
    background-color: green;
}